.homepage-content {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
}

.homepage-containers-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}

@media (max-width: 720px) {
  .homepage-containers-wrapper {
    flex-direction: column;
  }

  .homepage-content {
    margin-top: 50px;
  }

  .buttons-wrapper button{
    height: 60px;
    width: 150px;
    font-size: 1.2rem;
  }
}